body{
    display: flex;
    padding: 128px;
    flex-direction: column;
    background-color: black;

}

button{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: black;

}
.container1{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:white;
}

img{
    height: 400px;
    width: 500px;
}
